In [1]:
from src.core import Profile, StudentId, Student, University
from src.application import ApplicationSystem

from functools import cmp_to_key

In [2]:
test_university: University = University.MIPT
print(test_university)
print(test_university.value)

MIPT
МФТИ

In [3]:
test_student = Student(StudentId("123"), 275, False)
print(test_student)

{"id": {"id": "123"}, "score": 275, "agreementSubmitted": false}

In [4]:
system = ApplicationSystem()

In [5]:
MAI_PMI = []
BMSTU_PMI = []
MIREA_PMI = []
MIREA_PR_INJ = []
MIPT_PMI = []

# for BVI we can use 1000

MAI_PMI.append(Student(StudentId('111-111-111 01'), 297, False))
BMSTU_PMI.append(Student(StudentId('111-111-111 01'), 297, True))
MIREA_PMI.append(Student(StudentId('111-111-111 01'), 297, False))
MIREA_PR_INJ.append(Student(StudentId('111-111-111 01'), 297, False))
MIPT_PMI.append(Student(StudentId('111-111-111 01'), 297, False))

MAI_PMI.append(Student(StudentId('111-111-111 02'), 285, True))
BMSTU_PMI.append(Student(StudentId('111-111-111 02'), 285, False))
MIREA_PMI.append(Student(StudentId('111-111-111 02'), 285, False))
MIREA_PR_INJ.append(Student(StudentId('111-111-111 02'), 285, False))

MAI_PMI.append(Student(StudentId('111-111-111 03'), 271, False))
BMSTU_PMI.append(Student(StudentId('111-111-111 03'), 271, False))
MIREA_PMI.append(Student(StudentId('111-111-111 03'), 271, False))
MIREA_PR_INJ.append(Student(StudentId('111-111-111 03'), 271, False))

MAI_PMI.append(Student(StudentId('111-111-111 04'), 272, False))
BMSTU_PMI.append(Student(StudentId('111-111-111 04'), 272, False))
MIREA_PMI.append(Student(StudentId('111-111-111 04'), 272, True))
MIREA_PR_INJ.append(Student(StudentId('111-111-111 04'), 272, False))

MAI_PMI.append(Student(StudentId('111-111-111 05'), 272, False))
BMSTU_PMI.append(Student(StudentId('111-111-111 05'), 272, False))
MIREA_PMI.append(Student(StudentId('111-111-111 05'), 272, False))
MIREA_PR_INJ.append(Student(StudentId('111-111-111 05'), 272, True))

MAI_PMI.append(Student(StudentId('111-111-111 06'), 272, True))
BMSTU_PMI.append(Student(StudentId('111-111-111 06'), 272, False))
MIREA_PMI.append(Student(StudentId('111-111-111 06'), 272, False))
MIREA_PR_INJ.append(Student(StudentId('111-111-111 06'), 272, False))

MAI_PMI.append(Student(StudentId('111-111-111 07'), 272, False))
BMSTU_PMI.append(Student(StudentId('111-111-111 07'), 272, False))
MIREA_PMI.append(Student(StudentId('111-111-111 07'), 272, False))
MIREA_PR_INJ.append(Student(StudentId('111-111-111 07'), 272, False))

MAI_PMI.append(Student(StudentId('111-111-111 08'), 273, False))
BMSTU_PMI.append(Student(StudentId('111-111-111 08'), 273, False))
MIREA_PMI.append(Student(StudentId('111-111-111 08'), 273, False))
MIREA_PR_INJ.append(Student(StudentId('111-111-111 08'), 273, False))

MAI_PMI.append(Student(StudentId('111-111-111 09'), 273, True))
BMSTU_PMI.append(Student(StudentId('111-111-111 09'), 273, False))
MIREA_PMI.append(Student(StudentId('111-111-111 09'), 273, False))
MIREA_PR_INJ.append(Student(StudentId('111-111-111 09'), 273, False))

MAI_PMI.append(Student(StudentId('111-111-111 10'), 273, False))
BMSTU_PMI.append(Student(StudentId('111-111-111 10'), 273, False))
MIREA_PMI.append(Student(StudentId('111-111-111 10'), 273, True))
MIREA_PR_INJ.append(Student(StudentId('111-111-111 10'), 273, False))

MAI_PMI.append(Student(StudentId('111-111-111 11'), 273, False))
BMSTU_PMI.append(Student(StudentId('111-111-111 11'), 273, False))
MIREA_PMI.append(Student(StudentId('111-111-111 11'), 273, False))
MIREA_PR_INJ.append(Student(StudentId('111-111-111 11'), 273, True))

def cmp_func(x, y):
    if x.score < y.score:
        return 1
    elif x.score > y.score:
        return -1
    else:
        if x.id.id > y.id.id:
            return 1
        else:
            return -1
my_cmp = cmp_to_key(cmp_func)

system.add_profile_students_data(University.MAI, Profile('01.03.02'), sorted(MAI_PMI, key=my_cmp))
system.add_profile_students_data(University.BMSTU, Profile('01.03.02'), sorted(BMSTU_PMI, key=my_cmp))
system.add_profile_students_data(University.MIREA, Profile('01.03.02'), sorted(MIREA_PMI, key=my_cmp))
system.add_profile_students_data(University.MIREA, Profile('09.03.04'), sorted(MIREA_PR_INJ, key=my_cmp))
system.add_profile_students_data(University.MIPT, Profile('01.03.02'), sorted(MIPT_PMI, key=my_cmp))

In [6]:
places = {University.MIPT: {Profile('01.03.02'): 2}, University.MAI: {Profile('01.03.02'): 6}, University.MIREA: {Profile('01.03.02'): 3, Profile('09.03.04'): 3}, University.BMSTU: {Profile('01.03.02'): 2}}
system.add_places_details(places)

In [7]:
system.get_all_students_where_score_ge(University.MIREA, Profile('01.03.02'), 271)

[{"id": {"id": "111-111-111 01"}, "score": 297, "agreementSubmitted": false},
 {"id": {"id": "111-111-111 02"}, "score": 285, "agreementSubmitted": false},
 {"id": {"id": "111-111-111 08"}, "score": 273, "agreementSubmitted": false},
 {"id": {"id": "111-111-111 09"}, "score": 273, "agreementSubmitted": false},
 {"id": {"id": "111-111-111 10"}, "score": 273, "agreementSubmitted": true},
 {"id": {"id": "111-111-111 11"}, "score": 273, "agreementSubmitted": false},
 {"id": {"id": "111-111-111 04"}, "score": 272, "agreementSubmitted": true},
 {"id": {"id": "111-111-111 05"}, "score": 272, "agreementSubmitted": false},
 {"id": {"id": "111-111-111 06"}, "score": 272, "agreementSubmitted": false},
 {"id": {"id": "111-111-111 07"}, "score": 272, "agreementSubmitted": false},
 {"id": {"id": "111-111-111 03"}, "score": 271, "agreementSubmitted": false}]

In [8]:
system.get_all_students_where_score_ge_and_admission_possible(University.MIREA,Profile('01.03.02'), 271)

[{"id": {"id": "111-111-111 08"}, "score": 273, "agreementSubmitted": false},
 {"id": {"id": "111-111-111 10"}, "score": 273, "agreementSubmitted": true},
 {"id": {"id": "111-111-111 11"}, "score": 273, "agreementSubmitted": false},
 {"id": {"id": "111-111-111 04"}, "score": 272, "agreementSubmitted": true},
 {"id": {"id": "111-111-111 05"}, "score": 272, "agreementSubmitted": false},
 {"id": {"id": "111-111-111 07"}, "score": 272, "agreementSubmitted": false},
 {"id": {"id": "111-111-111 03"}, "score": 271, "agreementSubmitted": false}]

In [9]:
system.get_all_students_where_score_ge_and_admission_possible(University.BMSTU, Profile('01.03.02'), 271)

[{"id": {"id": "111-111-111 01"}, "score": 297, "agreementSubmitted": true},
 {"id": {"id": "111-111-111 08"}, "score": 273, "agreementSubmitted": false},
 {"id": {"id": "111-111-111 07"}, "score": 272, "agreementSubmitted": false},
 {"id": {"id": "111-111-111 03"}, "score": 271, "agreementSubmitted": false}]

In [10]:
system.get_current_min_scores()

Not found students for 01.03.02 in MIPT

{MIPT: {01.03.02: -1},
 VSE: {},
 MSU: {},
 MEPHI: {},
 BMSTU: {01.03.02: 273},
 MIREA: {01.03.02: 273, 09.03.04: 273},
 MAI: {01.03.02: 271},
 MPEI: {},
 MTUCI: {},
 MPOLITECH: {},
 MIET: {},
 ITMO: {},
 SPBSU: {}}

In [11]:
system.get_current_positions(StudentId("111-111-111 07"))

{MAI: {01.03.02: (5, 272)},
 BMSTU: {01.03.02: (3, 272)},
 MIREA: {01.03.02: (6, 272), 09.03.04: (6, 272)}}

In [12]:
system.show_number_of_agreements_by_university()

    University  Agreements
1         МФТИ           0
2          ВШЭ           0
3          МГУ           0
4         МИФИ           0
5     Бауманка           1
6        МИРЭА           4
7          МАИ           3
8          МЭИ           0
9        МТУСИ           0
10  МосПолитех           0
11        МИЭТ           0
12        ИТМО           0
13       СПБГУ           0

In [13]:
system.show_number_of_pending_agreements_by_university()

    University  Agreements
1         МФТИ           0
2          ВШЭ           0
3          МГУ           0
4         МИФИ           0
5     Бауманка           1
6        МИРЭА           4
7          МАИ           3
8          МЭИ           0
9        МТУСИ           0
10  МосПолитех           0
11        МИЭТ           0
12        ИТМО           0
13       СПБГУ           0

In [14]:
system.show_agreements_statistics_by_universities()

,University,N of Agreements,Average score,Median score,Top 5% score,Top 10% score,Top 20% score
1,МИРЭА,4,272.5,272.5,273.0,273.0,273.0
2,МАИ,3,276.7,273.0,294.6,292.2,287.4

In [15]:
system.show_agreements_statistics_by_universities_and_profiles()

,University,Profile,N of Agreements,Average score,Median score,Top 5% score,Top 10% score,Top 20% score
1,МИРЭА,01.03.02,2,272.5,272.5,273.8,273.7,273.4
2,МИРЭА,09.03.04,2,272.5,272.5,273.8,273.7,273.4
3,МАИ,01.03.02,3,276.7,273.0,294.6,292.2,287.4

In [16]:
system.show_current_situation_for(StudentId("111-111-111 07"))

Not found students for 01.03.02 in MIPT

  University   Profile  Current Position  Number of Places  Score  Min Score
1        MAI  01.03.02                 5                 6    272        271
2      BMSTU  01.03.02                 3                 2    272        273
3      MIREA  01.03.02                 6                 3    272        273
4      MIREA  09.03.04                 6                 3    272        273

In [17]:
system.show_all_students_with_score_ge_and_their_agreement(University.MIREA, Profile('01.03.02'), 270)

                Id  Score Chosen University Chosen Profile
1   111-111-111 01    297             BMSTU       01.03.02
2   111-111-111 02    285               MAI       01.03.02
3   111-111-111 08    273
4   111-111-111 09    273               MAI       01.03.02
5   111-111-111 10    273             MIREA       01.03.02
6   111-111-111 11    273             MIREA       09.03.04
7   111-111-111 04    272             MIREA       01.03.02
8   111-111-111 05    272             MIREA       09.03.04
9   111-111-111 06    272               MAI       01.03.02
10  111-111-111 07    272
11  111-111-111 03    271

In [18]:
system.show_all_students_with_score_ge_and_admission_possible(University.MIREA, Profile('01.03.02'), 270)

               Id  Score Chosen Profile in MIREA
1  111-111-111 08    273
2  111-111-111 10    273                01.03.02
3  111-111-111 11    273                09.03.04
4  111-111-111 04    272                01.03.02
5  111-111-111 05    272                09.03.04
6  111-111-111 07    272
7  111-111-111 03    271