In [1]:
from src.core import Student, University
from src.application import ApplicationSystem, DataLoader

In [2]:
system = ApplicationSystem()

In [3]:
loader = DataLoader()

In [4]:
loader.load_data(system, "../../data/")

In [5]:
system.get_current_min_scores()

{<University.MIPT: 'МФТИ'>: {},
 <University.VSE: 'ВШЭ'>: {},
 <University.MSU: 'МГУ'>: {},
 <University.MEPHI: 'МИФИ'>: {},
 <University.BMSTU: 'Бауманка'>: {},
 <University.MIREA: 'МИРЭА'>: {},
 <University.MAI: 'МАИ'>: {},
 <University.MPEI: 'МЭИ'>: {},
 <University.MTUCI: 'МТУСИ'>: {},
 <University.MPOLITECH: 'МосПолитех'>: {},
 <University.MIET: 'МИЭТ'>: {},
 <University.ITMO: 'ИТМО'>: {},
 <University.SPBSU: 'СПБГУ'>: {}}

In [6]:
system.get_current_positions("111-111-111 07")

WARNING: student id=111-111-111 07 not found

{}

In [7]:
system.show_number_of_agreements_by_university()

In [8]:
system.show_number_of_pending_agreements_by_university()

In [9]:
system.show_agreements_statistics_by_universities()

Empty DataFrame
Columns: [University, N of Agreements, Average score, Median score, Top 5% score, Top 10% score, Top 20% score]
Index: []

In [10]:
system.show_agreements_statistics_by_universities_and_profiles()

Empty DataFrame
Columns: [University, Profile, N of Agreements, Average score, Median score, Top 5% score, Top 10% score, Top 20% score]
Index: []

In [11]:
system.show_current_situation_for("111-111-111 07")

WARNING: student id=111-111-111 07 not found

KeyError: '111-111-111 07'