In [1]:
from src.core import Profile, StudentId, University
from src.application import ApplicationSystem, DataLoader

In [2]:
system = ApplicationSystem()

In [3]:
loader = DataLoader()

Parser for MPOLITECH registered.

In [4]:
loader.load_data(system, "../../data/")

2478 already listed students uploaded
MPOLITECH file D:\Personal\IT\Programming\Projects\UniversityApplicationSystem\data\MPOLITECH_09.03.01_05.html read started
An exception occurred in line 1: invalid literal for int() with base 10: '\xa0Льгота\xa0'
Row: <tr align="center" bgcolor="#4B6EB9">
<td style="font-size: 12px; font-family: gilroy; padding: 10px;"><b><font color="white">№</font></b></td>
<td style="font-size: 12px; font-family: gilroy"><font color="white"> Реальный <br/>рейтинг</font></td>
<td style="font-size: 12px; font-family: gilroy; padding: 15px;"><font color="white">СНИЛС/<br/>Уникальный<br/>номер</font></td>
<td style="font-size: 12px; font-family: gilroy"><font color="white">Уникальный<br/>номер</font></td>
<!--<td style="font-size: 12px; font-family: gilroy"><b><font color="black">Предмет<br>приоритет 1</font></b></td>-->
<td style="font-size: 12px; font-family: gilroy"><font color="white">Балл<br/>приоритет 1</font></td>
<!--<td style="font-size: 12px; font-family: gilroy"><b><font color="black">Предмет<br>приоритет 2</font></b></td>-->
<td style="font-size: 12px; font-family: gilroy"><font color="white">Балл<br/>приоритет 2</font></td>
<!--<td style="font-size: 12px; font-family: gilroy"><b><font color="black">Предмет<br>приоритет 3</font></b></td>-->
<td style="font-size: 12px; font-family: gilroy"><font color="white">Балл<br/>приоритет 3</font></td>
<!--<td style="font-size: 12px; font-family: gilroy"><b><font color="black">Предмет<br>приоритет 4</font></b></td>-->
<td style="font-size: 12px; font-family: gilroy"><font color="white">Балл<br/>приоритет 4</font></td>
<td style="font-size: 12px; font-family: gilroy"><font color="white">Сумма баллов<br/>по предметам</font></td>
<td style="font-size: 12px; font-family: gilroy"><font color="white">Сумма<br/>ИД</font></td>
<td style="font-size: 12px; font-family: gilroy"><font color="white"> Итоговый <br/>балл</font></td>
<td style="font-size: 12px; font-family: gilroy"><font color="white"> Общежитие </font></td>
<td style="font-size: 12px; font-family: gilroy"><font color="white"> Оригинал </font></td>
<td style="font-size: 12px; font-family: gilroy"><font color="white"> Согласие <br/>о зачислении</font></td>
<td style="font-size: 12px; font-family: gilroy"><b><font color="#55B432"> Льгота </font></b></td>
<td style="font-size: 12px; font-family: gilroy"><font color="white">Преимущественное<br/>право</font></td>
<td style="font-size: 12px; font-family: gilroy"><font color="white"> Примечание </font></td>
</tr>
MPOLITECH file D:\Personal\IT\Programming\Projects\UniversityApplicationSystem\data\MPOLITECH_09.03.01_05.html read finished

MPOLITECH file D:\Personal\IT\Programming\Projects\UniversityApplicationSystem\data\MPOLITECH_01.03.02.csv read started
MPOLITECH file D:\Personal\IT\Programming\Projects\UniversityApplicationSystem\data\MPOLITECH_01.03.02.csv read finished

MPOLITECH file D:\Personal\IT\Programming\Projects\UniversityApplicationSystem\data\MPOLITECH_09.03.01_01.csv read started
  да (№2)   agreement found
MPOLITECH file D:\Personal\IT\Programming\Projects\UniversityApplicationSystem\data\MPOLITECH_09.03.01_01.csv read finished

MPOLITECH file D:\Personal\IT\Programming\Projects\UniversityApplicationSystem\data\MPOLITECH_09.03.01_02.csv read started
MPOLITECH file D:\Personal\IT\Programming\Projects\UniversityApplicationSystem\data\MPOLITECH_09.03.01_02.csv read finished

MPOLITECH file D:\Personal\IT\Programming\Projects\UniversityApplicationSystem\data\MPOLITECH_09.03.01_04.csv read started
  да (№2)   agreement found
  да (№2)   agreement found
MPOLITECH file D:\Personal\IT\Programming\Projects\UniversityApplicationSystem\data\MPOLITECH_09.03.01_04.csv read finished

Students for 09.03.01:05 in MPOLITECH already uploaded: skipping file MPOLITECH_09.03.01_05.csv

MPOLITECH file D:\Personal\IT\Programming\Projects\UniversityApplicationSystem\data\MPOLITECH_09.03.02_01.csv read started
  да (№2)   agreement found
  да (№2)   agreement found
  да (№3)   agreement found
MPOLITECH file D:\Personal\IT\Programming\Projects\UniversityApplicationSystem\data\MPOLITECH_09.03.02_01.csv read finished

MPOLITECH file D:\Personal\IT\Programming\Projects\UniversityApplicationSystem\data\MPOLITECH_09.03.02_02.csv read started
  да (№2)   agreement found
MPOLITECH file D:\Personal\IT\Programming\Projects\UniversityApplicationSystem\data\MPOLITECH_09.03.02_02.csv read finished

MPOLITECH file D:\Personal\IT\Programming\Projects\UniversityApplicationSystem\data\MPOLITECH_09.03.02_03.csv read started
  да (№2)   agreement found
MPOLITECH file D:\Personal\IT\Programming\Projects\UniversityApplicationSystem\data\MPOLITECH_09.03.02_03.csv read finished

MPOLITECH file D:\Personal\IT\Programming\Projects\UniversityApplicationSystem\data\MPOLITECH_09.03.03_01.csv read started
MPOLITECH file D:\Personal\IT\Programming\Projects\UniversityApplicationSystem\data\MPOLITECH_09.03.03_01.csv read finished

MPOLITECH file D:\Personal\IT\Programming\Projects\UniversityApplicationSystem\data\MPOLITECH_09.03.03_02.csv read started
  да (№2)   agreement found
MPOLITECH file D:\Personal\IT\Programming\Projects\UniversityApplicationSystem\data\MPOLITECH_09.03.03_02.csv read finished
ERROR: student id=207-624-240 42 is already registered for profile 09.03.03:02 in university MPOLITECH

MPOLITECH file D:\Personal\IT\Programming\Projects\UniversityApplicationSystem\data\MPOLITECH_09.03.03_03.csv read started
MPOLITECH file D:\Personal\IT\Programming\Projects\UniversityApplicationSystem\data\MPOLITECH_09.03.03_03.csv read finished

MPOLITECH file D:\Personal\IT\Programming\Projects\UniversityApplicationSystem\data\MPOLITECH_10.03.01.csv read started
MPOLITECH file D:\Personal\IT\Programming\Projects\UniversityApplicationSystem\data\MPOLITECH_10.03.01.csv read finished

MPOLITECH file D:\Personal\IT\Programming\Projects\UniversityApplicationSystem\data\MPOLITECH_10.05.03.csv read started
  да (№2)   agreement found
MPOLITECH file D:\Personal\IT\Programming\Projects\UniversityApplicationSystem\data\MPOLITECH_10.05.03.csv read finished

In [5]:
places_details = {
    University.MPEI: {
        Profile('01.03.02', 'inf'): 46,
        Profile('01.03.02', 'mat'): 36,
        Profile('09.03.01'): 157,
        Profile('09.03.03'): 27,
        Profile('10.03.01'): 35,
        Profile('27.03.04'): 66,
        Profile('38.03.05'): 7,
    },
    University.MIREA: {
        Profile('01.03.02'): 65,
        Profile('01.03.04'): 25,
        Profile('02.03.02'): 13,
        Profile('09.03.01', 'IIT'): 78,
        Profile('09.03.01', 'III'): 115,
        Profile('09.03.02', 'IKB'): 168,
        Profile('09.03.02', 'IRI'): 39,
        Profile('09.03.02', 'IPTIP-design'): 39,
        Profile('09.03.02', 'IPTIP-fullstack'): 16,
        Profile('09.03.03'): 139,
        Profile('09.03.04'): 147,
        Profile('10.03.01'): 21,
        Profile('10.05.01'): 32,
    },
    University.MAI: {
        Profile('01.03.00'): 201,
        Profile('01.03.02'): 19,
        Profile('02.03.02'): 49,
        Profile('09.03.01'): 147,
        Profile('09.03.02'): 47,
        Profile('09.03.03'): 50,
        Profile('09.03.04'): 46,
        Profile('10.03.01'): 38,
    },
    University.MPOLITECH: {
        Profile('01.03.02'): 27,
        Profile('09.03.01', '01'): 37,
        Profile('09.03.01', '02'): 66,
        Profile('09.03.01', '04'): 45,
        Profile('09.03.01', '05'): 24,
        Profile('09.03.02', '01'): 179,
        Profile('09.03.02', '02'): 21,
        Profile('09.03.02', '03'): 22,
        Profile('09.03.03', '01'): 44,
        Profile('09.03.03', '02'): 44,
        Profile('09.03.03', '03'): 22,
        Profile('10.03.01'): 31,
        Profile('10.05.03'): 27,
    },
    University.MTUCI: {
        Profile('01.03.04'): 16,
        Profile('02.03.02'): 46,
        Profile('09.03.01'): 100,
        Profile('09.03.02'): 90,
        Profile('09.03.03'): 50,
        Profile('10.03.01'): 52,
        Profile('10.05.02'): 60,
        Profile('11.03.01'): 75,
        Profile('11.03.02', 'RIT'): 232,
        Profile('11.03.02', 'SISS'): 306,
        Profile('15.03.04'): 20,
        Profile('27.03.04'): 24,
    },
}
system.add_places_details(places_details)

In [6]:
system.get_current_min_scores()

{MIPT: {},
 VSE: {},
 MSU: {},
 MEPHI: {},
 BMSTU: {},
 MIREA: {},
 MAI: {},
 MPEI: {},
 MTUCI: {},
 MPOLITECH: {09.03.01:05: 285,
  01.03.02: 278,
  09.03.01:01: 284,
  09.03.01:02: 276,
  09.03.01:04: 279,
  09.03.02:01: 273,
  09.03.02:02: 283,
  09.03.02:03: 283,
  09.03.03:01: 279,
  09.03.03:02: 283,
  09.03.03:03: 284,
  10.03.01: 283,
  10.05.03: 277},
 MIET: {},
 ITMO: {},
 SPBSU: {}}

In [7]:
system.get_current_positions(StudentId("185-597-938 50"))

{MPOLITECH: {01.03.02: (28, 278),
  09.03.01:01: (97, 278),
  09.03.01:02: (53, 278),
  09.03.02:01: (90, 278),
  09.03.02:02: (42, 278),
  09.03.02:03: (48, 278),
  09.03.03:01: (53, 278),
  09.03.03:02: (78, 278),
  09.03.03:03: (55, 278)}}

In [8]:
system.show_number_of_agreements_by_university()

    University  Agreements
1         МФТИ         543
2          ВШЭ           0
3          МГУ           0
4         МИФИ         202
5     Бауманка         296
6        МИРЭА         253
7          МАИ          84
8          МЭИ          96
9        МТУСИ          52
10  МосПолитех         461
11        МИЭТ          51
12        ИТМО         643
13       СПБГУ         138

In [9]:
system.show_number_of_pending_agreements_by_university()

    University  Agreements
1         МФТИ           0
2          ВШЭ           0
3          МГУ           0
4         МИФИ           0
5     Бауманка           0
6        МИРЭА           0
7          МАИ           0
8          МЭИ           0
9        МТУСИ           0
10  МосПолитех         341
11        МИЭТ           0
12        ИТМО           0
13       СПБГУ           0

In [10]:
system.show_agreements_statistics_by_universities()

,University,N of Agreements,Average score,Median score,Top 5% score,Top 10% score,Top 20% score
1,МосПолитех,341,261.9,260,284.8,278.8,272.0

In [11]:
system.show_agreements_statistics_by_universities_and_profiles()

,University,Profile,N of Agreements,Average score,Median score,Top 5% score,Top 10% score,Top 20% score
1,МосПолитех,09.03.01:05,2,287.0,287.0,292.4,291.8,290.6
2,МосПолитех,01.03.02,2,259.0,259.0,264.4,263.8,262.6
3,МосПолитех,09.03.01:01,28,274.0,273.5,298.2,296.0,283.4
4,МосПолитех,09.03.01:02,14,262.6,259.5,281.2,277.5,274.0
5,МосПолитех,09.03.01:04,7,267.1,265.0,306.8,297.6,279.2
6,МосПолитех,09.03.02:01,183,261.2,259.0,280.0,277.0,269.0
7,МосПолитех,09.03.02:02,12,248.2,245.5,288.4,272.8,252.4
8,МосПолитех,09.03.02:03,6,267.2,268.5,291.2,289.5,286.0
9,МосПолитех,09.03.03:01,16,258.1,258.0,273.4,270.9,267.2
10,МосПолитех,09.03.03:02,27,262.0,261.0,286.8,281.8,269.8
11,МосПолитех,09.03.03:03,3,271.3,274.0,288.4,286.8,283.6
12,МосПолитех,10.03.01,23,260.3,259.0,282.4,274.4,264.2
13,МосПолитех,10.05.03,18,257.1,255.5,289.6,278.2,267.8

In [12]:
system.show_current_situation_for(StudentId("185-597-938 50"))

,University,Profile,Current Position,Number of Places,Score,Min Score
1,MPOLITECH,01.03.02,28,27,278,278
2,MPOLITECH,09.03.01:01,97,37,278,284
3,MPOLITECH,09.03.01:02,53,66,278,276
4,MPOLITECH,09.03.02:01,90,179,278,273
5,MPOLITECH,09.03.02:02,42,21,278,283
6,MPOLITECH,09.03.02:03,48,22,278,283
7,MPOLITECH,09.03.03:01,53,44,278,279
8,MPOLITECH,09.03.03:02,78,44,278,283
9,MPOLITECH,09.03.03:03,55,22,278,284

In [13]:
system.show_all_students_with_score_ge_and_their_agreement(University.MIREA, Profile('01.03.02'), 270)

                Id  Score Chosen University Chosen Profile
1   171-643-457 68    297
2   192-019-459 66    297
3   160-532-589 49    297
4   186-366-742 16    293         MPOLITECH    09.03.01:04
5   149-664-675 21    292
6   177-890-551 31    291
7   159-529-715 14    291
8   175-909-495 23    291
9   164-941-829 99    290         MPOLITECH    09.03.02:01
10  165-880-036 91    290
11  187-107-656 89    289
12  160-401-522 05    289
13  186-695-330 29    289
14  166-787-831 38    289
15  188-744-368 34    289         MPOLITECH    09.03.01:05
16  160-496-735 81    289
17  195-057-588 06    288
18  172-969-049 14    288
19  169-152-829 95    288
20  183-742-370 86    287
21  142-966-350 81    286
22  160-212-107 92    285
23  183-760-080 81    285         MPOLITECH    09.03.03:02
24  166-275-174 86    285         MPOLITECH    09.03.01:01
25  199-486-248 52    285         MPOLITECH    09.03.01:05
26  189-531-085 04    285
27  160-148-658 50    284