In [1]:
from university import University
from student import Student
from application_system import ApplicationSystem

from functools import cmp_to_key

In [2]:
print(University.MIPT.value)

МФТИ

In [3]:
test_student = Student("123", 275, False)

In [4]:
system = ApplicationSystem()

In [5]:
MAI_PMI = []
BMSTU_PMI = []
MIREA_PMI = []
MIREA_PR_INJ = []
MIPT_PMI = []

# for BVI we can use 1000

MAI_PMI.append(Student('111-111-111 01', 297, False))
BMSTU_PMI.append(Student('111-111-111 01', 297, True))
MIREA_PMI.append(Student('111-111-111 01', 297, False))
MIREA_PR_INJ.append(Student('111-111-111 01', 297, False))
MIPT_PMI.append(Student('111-111-111 01', 297, False))

MAI_PMI.append(Student('111-111-111 02', 285, True))
BMSTU_PMI.append(Student('111-111-111 02', 285, False))
MIREA_PMI.append(Student('111-111-111 02', 285, False))
MIREA_PR_INJ.append(Student('111-111-111 02', 285, False))

MAI_PMI.append(Student('111-111-111 03', 271, False))
BMSTU_PMI.append(Student('111-111-111 03', 271, False))
MIREA_PMI.append(Student('111-111-111 03', 271, False))
MIREA_PR_INJ.append(Student('111-111-111 03', 271, False))

MAI_PMI.append(Student('111-111-111 04', 272, False))
BMSTU_PMI.append(Student('111-111-111 04', 272, False))
MIREA_PMI.append(Student('111-111-111 04', 272, True))
MIREA_PR_INJ.append(Student('111-111-111 04', 272, False))

MAI_PMI.append(Student('111-111-111 05', 272, False))
BMSTU_PMI.append(Student('111-111-111 05', 272, False))
MIREA_PMI.append(Student('111-111-111 05', 272, False))
MIREA_PR_INJ.append(Student('111-111-111 05', 272, True))

MAI_PMI.append(Student('111-111-111 06', 272, True))
BMSTU_PMI.append(Student('111-111-111 06', 272, False))
MIREA_PMI.append(Student('111-111-111 06', 272, False))
MIREA_PR_INJ.append(Student('111-111-111 06', 272, False))

MAI_PMI.append(Student('111-111-111 07', 272, False))
BMSTU_PMI.append(Student('111-111-111 07', 272, False))
MIREA_PMI.append(Student('111-111-111 07', 272, False))
MIREA_PR_INJ.append(Student('111-111-111 07', 272, False))

MAI_PMI.append(Student('111-111-111 08', 273, False))
BMSTU_PMI.append(Student('111-111-111 08', 273, False))
MIREA_PMI.append(Student('111-111-111 08', 273, False))
MIREA_PR_INJ.append(Student('111-111-111 08', 273, False))

MAI_PMI.append(Student('111-111-111 09', 273, True))
BMSTU_PMI.append(Student('111-111-111 09', 273, False))
MIREA_PMI.append(Student('111-111-111 09', 273, False))
MIREA_PR_INJ.append(Student('111-111-111 09', 273, False))

MAI_PMI.append(Student('111-111-111 10', 273, False))
BMSTU_PMI.append(Student('111-111-111 10', 273, False))
MIREA_PMI.append(Student('111-111-111 10', 273, True))
MIREA_PR_INJ.append(Student('111-111-111 10', 273, False))

MAI_PMI.append(Student('111-111-111 11', 273, False))
BMSTU_PMI.append(Student('111-111-111 11', 273, False))
MIREA_PMI.append(Student('111-111-111 11', 273, False))
MIREA_PR_INJ.append(Student('111-111-111 11', 273, True))

def cmp_func(x, y):
    if x.score < y.score:
        return 1
    elif x.score > y.score:
        return -1
    else:
        if x.id > y.id:
            return 1
        else:
            return -1
my_cmp = cmp_to_key(cmp_func)

system.add_profile_students_data(University.MAI, '01.03.02', sorted(MAI_PMI, key=my_cmp))
system.add_profile_students_data(University.BMSTU, '01.03.02', sorted(BMSTU_PMI, key=my_cmp))
system.add_profile_students_data(University.MIREA, '01.03.02', sorted(MIREA_PMI, key=my_cmp))
system.add_profile_students_data(University.MIREA, '09.03.04', sorted(MIREA_PR_INJ, key=my_cmp))
system.add_profile_students_data(University.MIPT, '01.03.02', sorted(MIPT_PMI, key=my_cmp))

In [6]:
[student.id for student in system.get_all_students_where_score_ge(University.MIREA, "01.03.02", 271)]

['111-111-111 01',
 '111-111-111 02',
 '111-111-111 08',
 '111-111-111 09',
 '111-111-111 10',
 '111-111-111 11',
 '111-111-111 04',
 '111-111-111 05',
 '111-111-111 06',
 '111-111-111 07',
 '111-111-111 03']

In [7]:
[student.id for student in system.get_all_students_where_score_ge_and_admission_possible(University.MIREA, "01.03.02", 271)]

['111-111-111 08',
 '111-111-111 10',
 '111-111-111 11',
 '111-111-111 04',
 '111-111-111 05',
 '111-111-111 07',
 '111-111-111 03']

In [8]:
[student.id for student in system.get_all_students_where_score_ge_and_admission_possible(University.BMSTU, "01.03.02", 271)]

['111-111-111 01', '111-111-111 08', '111-111-111 07', '111-111-111 03']

In [9]:
system.get_current_min_scores()

{<University.MIPT: 'МФТИ'>: {'01.03.02': 0},
 <University.VSE: 'ВШЭ'>: {},
 <University.MSU: 'МГУ'>: {},
 <University.MEPHI: 'МИФИ'>: {},
 <University.BMSTU: 'Бауманка'>: {'01.03.02': 0},
 <University.MIREA: 'МИРЭА'>: {'01.03.02': 0, '09.03.04': 0},
 <University.MAI: 'МАИ'>: {'01.03.02': 0},
 <University.MPEI: 'МЭИ'>: {},
 <University.MTUCI: 'МТУСИ'>: {},
 <University.MPOLITECH: 'МосПолитех'>: {},
 <University.MIET: 'МИЭТ'>: {},
 <University.ITMO: 'ИТМО'>: {},
 <University.SPBSU: 'СПБГУ'>: {}}

In [10]:
system.get_current_positions("111-111-111 07")

chosen university is None

{<University.MAI: 'МАИ'>: {'01.03.02': (10, 272)},
 <University.BMSTU: 'Бауманка'>: {'01.03.02': (10, 272)},
 <University.MIREA: 'МИРЭА'>: {'01.03.02': (10, 272), '09.03.04': (10, 272)}}

In [11]:
system.showNumberOfAgreementsByUniversity()

In [12]:
system.showNumberOfPendingAgreementsByUniversity()

In [13]:
system.agreementsStatisticsByUniversities()

,University,N of Agreements,Average score,Median score,Top 5% score,Top 10% score,Top 20% score
1,МИРЭА,4,272.5,272.5,273.0,273.0,273.0
2,МАИ,3,276.7,273.0,294.6,292.2,287.4

In [14]:
system.agreementsStatisticsByUniversitiesAndProfiles()

,University,Profile,N of Agreements,Average score,Median score,Top 5% score,Top 10% score,Top 20% score
1,МИРЭА,01.03.02,2,272.5,272.5,273.8,273.7,273.4
2,МИРЭА,09.03.04,2,272.5,272.5,273.8,273.7,273.4
3,МАИ,01.03.02,3,276.7,273.0,294.6,292.2,287.4